
  <ag-grid-angular class="divLIst"
  id="myGrid"
  class="ag-theme-alpine"
  style="width: 200%; height: 500px;
    direction: rtl;"
     [defaultColDef]="defaultColDef"
     
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  >
</ag-grid-angular>
  <!-- <table class="table table-striped table-dark ">
    <thead>
      <tr >
        <th scope="col" >#</th>
        <th scope="col">ניהול</th>
        <th scope="col">חבר</th>
        <th scope="col">קוד</th>
        <th scope="col">שם</th>
        <th scope="col">טל</th>
        <th scope="col">הפקדות</th>
        <th scope="col">הלוואות</th>
        <th scope="col">קרן רחל לאה</th>
        <th scope="col">בקשת הלוואה</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let friend of Friends " >
         <td [ngStyle]="{'background-color':{{friend.Management_status.Color}}}">{{friend.Management_status.Name}}</td> -->
         <!-- <td  >{{friend.First_name}}</td> 
      
        <td >{{friend.Id}}</td>
      </tr>
    </tbody>
  </table> -->
<!-- </div>  -->
  <!-- <button (click)="seemangment()">seemangment</button> -->
 