<div class="modal fade" id="BankModale" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">הכנס פרטי בנק</h5>
                <button type="button" class="close" data-dismiss="modal" formControlName="add_button"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate [formGroup]="BankForm" >
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="bankName">שם הבנק</label>
                                <input class="form-control" id="bankName" type="text" formControlName="Bank" >
                            </div>
                            <div class="col">
                                <label for="Branch">סניף</label>
                                <input class="form-control" id="Branch" formControlName="Branch" >
                            </div>
                            <div class="col">
                                <label for="AccounNumber">מספר חשבון</label>
                                <input class="form-control" id="AccounNumber" formControlName="Accoun_number" (keypress)="NumberinValid=numberOnly($event)">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal" >ביטול</button>
                <button type="submit" class="btn btn-primary" (click)="save()">שמור</button>
           </div>
        </div>
    </div>
</div>
<div>
    <button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#BankModale" data-whatever="@mdo">הכנס כרטיס אשראי</button>
</div>