.form-check-input{
    float: right;
    position: relative!important;
    margin-left: none !important;
}
.divForm{
    direction: ltr;
}
.Form-wrapper{
    // width: 60vw !important;
    // margin-left: 6vw !important;
    // margin-top: 12vh;
    // background-color: #ffffff99;
    // padding: 3%;
    margin: auto;
    width: 60vw !important;
    margin-right : 20vw !important;
    margin-top: 30px !important;
    background-color: #ffffff8c;
    padding: 3%;
}
h3{
    text-align: center;
    color: #343a40;
}
.search{
    margin-top: -7vh !important;
}
textarea{
    text-align: center;
}
option{
    direction: rtl;

}