<p>friend-of-fund works!</p>
<div>{{fund.name}}</div>
<table>
 <thead>
    <tr>
      <th scope="col" >#</th>
      <th scope="col">name</th>
      <th scope="col">status</th>
      <th scope="col">num month</th>
      <th scope="col">מספר הפקדות</th>
      <th scope="col">מספר משיכות</th>
      <th scope="col">יתרה</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let friend of getFundFriend()">
      <td>{{friend.id}}}</td>
      <td>{{friend.name}}</td>
      <td>{{friend.status}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr> -->
  </tbody> 
 </table>