<div class=" w-75 m-5">
    <form  [formGroup]="FormAddExpense" class="mx-auto w-75 mt-auto">
        <div class="row">
            <div class="col"[hidden]="Contemporary_expenditure==false" >
                <label for="date">תאריך עתידי</label>
                <input type="date" class="form-control" placeholder="date" [(ngModel)]="date | date:'yyyy-MM-dd">
            </div>
            <div class="col">
                <label for="Expense amount">סכום הוצאה</label>
                <input type="text" class="form-control" formControlName="Expense_amount" placeholder="הכנס סכום">
                <!-- <app-field-error-display 
                 [displayError]="isFieldValid('address.city')" 
                 errorMsg="הכנס סכום הוצאה">
               </app-field-error-display> -->
            </div>
            <div class="col">
                <label for="Receives">עבור</label>
                <input type="text" class="form-control" formControlName="Receives" placeholder="הכנס מוטב">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="Purpose">מטרה</label>
                <input type="text" class="form-control" formControlName="Purpose" placeholder="הכנס מטרה">
            </div>
            <div class="col" [hidden]="Contemporary_expenditure!=false">    
                <label for="exampleFormControlFile1">Payment Form</label>
               <select class="selectpicker form-control" data-live-search="true">
                   <option *ngFor="let p of keyPayment_Form()">{{p}}</option>
               </select>       
            </div>
        </div> 
        <div class="col">
            
            <input class="form-check-input" type="checkbox" value="true" formControlName="Contemporary" id="Current " (change)="Show()">
            <label class="form-check-label" for="Current">
                הוצאה עכשוית
            </label>
        </div>
        
     </form>
    <button (click)="Add()" button type="submit" class="btn btn-dark fixed-bottom position-relative">הוסף</button>
</div>