<div class="row form-inline px-2  float-right search" *ngIf="!loanId">
    <select [(ngModel)]="status" class="form-control w-10" (change)="onFilterTextBoxChanged()">
        <option value="all">הכל</option>
        <option>שולם</option>
        <option>עתידי</option>
    </select>
<form >
    <input class="form-control  float-right" type="search" placeholder="חיפוש" aria-label="Search" (input)='onFilterTextBoxChanged()' 
    [(ngModel)]='search' [ngModelOptions]="{standalone: true}" >
</form>
<button (click)="ExportExcel()" class="btn btn-dark"> יצאו לאקסל</button>
</div>
<ag-grid-angular (gridReady)="onGridReady($event)" [columnDefs]="columnDefs"

                 [defaultColDef]="defaultColDef"
                 [rowData]="dataFilter"
                 class="divLIst"
                 class="ag-theme-alpine"
                 class="ag-theme-alpine"
                 id="myGrid"
                 style=" justify-content: center"
                 style="height: 500px;">
</ag-grid-angular>
