.details-d{
    color: white;
    background-color: #28b1b2;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%; 
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
}
.details-l{
    color: white;
    text-align: end;
}