.details-d{
    color: white;
    background-color: #28b1b2;
    border-radius: 5px;
    padding-left: 4%;
    padding-right: 4%; 
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
}