
<aside class="col-5  p-0 bg-l float-right mt-5" style="width:12% ;">
    <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-between">
      <div class="collapse navbar-collapse">
        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
          <li class="nav-item">
           <a routerLink=Friendlist routerLinnkActive="active_link" class="nav-link active">friends list
            </a>
          </li>
          <li   class="nav-item">
            <a routerLink=addNewFriend  routerLinnkActive="active_link" class="nav-link">add friend
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </aside>
  <router-outlet></router-outlet>