<repayments-list  id="repaymens" class="sticky collapse" [loanId]="loan.id_loan"></repayments-list>
<div class="Form-wrapper" *ngIf="loan"> 
    <div class="header"><B>{{loan.id_loan}} : עריכת הלוואה</B></div>
    <form [formGroup]="LoanForm" class="needs-validation" novalidate>
         <div class="row"> 
            <div class="col">
                <label> לווה</label>
                 <input class="form-control" value="{{loan.userName}}" disabled>
            </div>
            <div class="col">
                <label for="Expense amount">סכום הלוואה</label>
                <input type="number" class="form-control"
                    formControlName="amount" placeholder="הכנס סכום" min="1"
                    required/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>מספר תשלומים</label>
                <input type="number" min=1  class="form-control" id="numRepayment" formControlName="numRepayment">
            </div>
            <div class="col">
                <label>מספר חודשים</label>
                <input type="number" min=1 class="form-control" id="numMonth" formControlName="month" >
            </div>
            <div class="col">
                <label>תאריך התחלה</label>
                <input type="date" (change)="futureDay($event)" class="form-control" id="DateStart" formControlName="date_start" >
            </div>
        </div> 
         <div class="row">
            <div class="col">
                <label>סטטוס הלוואה</label>
                <select value="loan.management_Status"  formControlName="Management_status" class=" selectpicker form-control" >
                    <option value="Approved" id="status" *ngIf="loan.nameStatus=='future'">מאושר </option>
                    <option value="Unauthorized" id="status" *ngIf="loan.nameStatus=='future'">לא מאושר </option>
                    <option value="Invalid">לא תקין</option>
                    <option value="Proper">תקין</option>
                </select>
            </div>
            <div class="col">
                <label>מצב ההלוואה</label>
                <select  formControlName="loan_status" class="form-control">
                    <option value="active" id="status">פעיל</option>
                    <option value="future">עתידי</option>
                    <option value="performed">שולם</option>
                </select>
            </div>
            <div class="col">
                <label> הערות</label>
                <textarea  formControlName="remark" class="form-control"> </textarea>
            </div>
        </div> 
     </form>
     <div class="row">
         <div *ngIf="disable()">
     <button  class="btn btn-dark " (click)="Delete()">מחק</button></div>
    <a (click)="Add($event)" id="BAdd" class="col">
        <app-message-add [Message]="message | json" ></app-message-add></a>
        <button class=" btn btn-dark " type="button" data-toggle="collapse" data-target="#repaymens" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            פרעונות</button>      
    </div>
  