/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import "./gmach/css/ag-grid.scss";
@import "./gmach/css/form.scss";


@import  "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.divLIst,tr,input{
  direction: rtl;
}/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import  "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
.modal-title{
    padding-left: 34%;
   
}
.modal-body{
    direction: rtl;
}
label{
    float: right;
    margin-right: 14px;
}

.form-check-input{
    position: relative;
    margin-left: none;
}
.form-check-input{
    position: relative;
    margin-left: none;
}
.form-check-input{
    float: right;
    position: relative!important;
    margin-left: none !important;
}


@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css";
.divLIst,tr,input{
    direction: rtl;
}
.divForm{
    direction: ltr;
}


.text-logo{
    color: rgb(124, 252, 0);
    text-shadow: black;
}
.details{
 width: 50%;
 margin-left: 25%;
}
.header{
    text-align: center;
    margin: 5%;
    margin-top: 55px;
}
.row{
    margin-top: 3%;
}
.alert-danger{
  text-align: center;
  width: 30%;
  margin-left: 35%;
  }
  .Form-wrapper{
    width:60vw!important;
    margin-right: 20vw !important;
    margin-top: 70px;
  }
  span{
      width: 200px;
  }




 