/* You can add global styles to this file, and also import other style files */

@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import  "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.ag-theme-alpine{
  width:60%;
  min-width: 600px;
   float:right;
   margin-top:6%;
   margin-right:6%
}
.ag-header-group-cell-label, .ag-header-cell-label{
  flex: inherit;
}
.ag-theme-alpine .ag-ltr .ag-cell{
  text-align: end;
}
.ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell{
  background-color: #506265;
  color: white;
}

.ag-row-selected {
  background-color: #17a2b8!important;
  color: #fff!important;
}
.ag-theme-alpine {
  @include ag-theme-alpine((
      
  ));

}
.divLIst,tr,input{
  direction: rtl;
}