
<ul class="nav nav-tabs-dark-lg bg-dark content-right justify-content-end">
  <li class="nav-item bg-info">
    <a  routerLink="fund" class="nav-link  active text-white" data-toggle="pill"  role="tab">קרנות</a>
  </li>
  <li class="nav-item bg-dark">
    <a  routerLink="#" class="nav-link active text-white" data-toggle="pill"  role="tab">הלוואות</a>
  </li>
  <li class="nav-item bg-info">
    <a  routerLink="#" class="nav-link active text-white">פרעונות</a>
  </li>
  <li class="nav-item bg-success">
    <a  routerLink="friends" class="nav-link active text-white">חברים בגמ"ח</a>
  </li>
    <li class="nav-item bg-dark">
    <a  routerLink="patty_cash" class="nav-link active text-white">petty cash</a>
  </li>
</ul>
<!-- <app-add-new></app-add-new> -->
<router-outlet></router-outlet>


