.Detalis-wrapper{
    margin-top: 1vh !important;
}
.row{
    margin-top: 1vh !important;
    margin-bottom: 0 !important;
}
.ag-theme-alpine [class^='ag-']{
    width: 123% !important;
}
ul{
    direction: rtl;
}

li{
    direction: rtl;
}
payheader{
    display: flex;
    justify-content: space-between;
    direction: rtl;
}