<loans-list   id="loans" class="sticky collapse" [UserID]="friend.id_user"></loans-list>
<div class="Form-wrapper Detalis-wrapper" *ngIf="friend">
<h3>פרטי חבר</h3>  
<form [formGroup]="formFriend" class="mx-auto w-75 mt-auto divForm needs-validation" novalidate=""> 
  <div class="row">
      <div class="col">
          <label for="fname">שם פרטי</label>
          <input type="text" class="form-control" formControlName="First_name"  id="fname" required  (keypress)="LetterinValid=LetterOnly($event)" >
          <div class="invalid-feedback"> הכנס שם </div>
      </div>
      <div class="col">
        <label for="lname">שם משפחה</label>
        <input type="text" class="form-control" formControlName="Last_name" id="lname" (keypress)="LetterinValid=LetterOnly($event)" required>
    </div>
      <div class="col">
          <label for="fname">שם האב</label>
          <input type="text" class="form-control" formControlName="father_name"  id="father_name" (keypress)="LetterinValid=LetterOnly($event)" required>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <label for="id">:ת"ז</label>
          <input formControlName="Id_user"  id="id" min=9 max=9 class="form-control" type="text" (keypress)="NumberinValid=NumberOnly($event)" required>
      </div>
      <div class="col">
        <label> מצב אישי</label>
        <select class="selectpicker form-control" formControlName="MaritalStatus"
            data-live-search="true">
            <option>נשוי</option>
            <option>רווק</option>
        </select>
    </div>
      <div class="col">
          <label>סטטוס חבר</label>
          <select class="selectpicker form-control" formControlName="NameManagement_status" data-live-search="true" >
              <option value="Proper">תקין</option>
              <option value="Invalid">לא תקין</option>
              <option value="Unauthorized">לא מאושר</option>
              <option value="Approved">מאושר</option>
          </select>
          <div *ngIf="BadStatuse()">
            <label>סיבת הסטטוס</label>
            <input class="form-control" type="text" formControlName="Status_reason">
            </div>
      </div>
  </div>
  <div class="row">
       <div class="col">
                <input class="form-check-input" type="checkbox" formControlName="VIP"  id="vipCheck" >
                <label class="form-check-label" for="vipCheck">
                    VIP
                </label>
            </div>
      <div class="col">
        <input class="form-check-input" type="checkbox"
            formControlName="friend"  id="vipCheck"
            value="true">
        <label class="form-check-label" for="vipCheck" data-toggle="tooltip" data-placement="left" title="משלם כל חודש 50 שקלים">
            חבר
        </label>
    </div>
  </div>
  <div class="dropdown-divider"></div>
<form [formGroup]="FCommunication_ways" class="needs-validation" novalidate="">
  <div class="row">
      <div class="col">
          <label>טל 1</label>
          <input class="form-control" id="p1" formControlName="Phon1" (keypress)="NumberinValid=NumberOnly($event)" required>
      </div>
      <div class="col">
          <label>טל 2</label>
          <input class="form-control" id="p2" formControlName="Phon2" (keypress)="NumberinValid=NumberOnly($event)">
      </div>
      <div class="col">
          <label for="emailInput">כתובת מייל</label>
          <input type="email" formControlName="Email_addres" class="form-control" id="email">
      </div>
  </div>
  <div class="row">
      <div class="col">
          <label for="citylb">עיר</label>
          <input type="text"  class="form-control" id="citylb" (keypress)="LetterinValid=LetterOnly($event)" formControlName="City" required>
      </div>
      <div class="col">
          <label for="street">רחוב</label>
          <input class="form-control" formControlName="Street" id="street"  (keypress)="LetterinValid=LetterOnly($event)" required>
      </div>
      <div class="col">
          <label for="buildingNumber">מספר</label>
          <input class="form-control" formControlName="Num_street" type="number" (keypress)="NumberinValid=NumberOnly($event)"required>
      </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="col">
      <label for="Remarkscontrol">הערות</label>
      <textarea class="form-control" id="Remarkscontrol" rows="1" formControlName="Remarks"></textarea>
  </div>
</form>
<div class="dropdown-divider"></div>
<div class=" float-right row ;">
<ul>
<li *ngFor="let pay of friend.payThisMonth" class="col">
    <div >{{pay}}</div>
</li>
</ul>
<div   class="payheader float-right ">:תשלום לחודש זה</div>
</div>
<div class="dropdown-divider w-100"></div>
<div class="row">
    <div class="col">
        <CreditDetails [credit]="friend.crdit" [UserID]="friend.id_user"></CreditDetails></div>
        <div class="col">  <app-bank-details [BankDetails]="friend.bank_Details"></app-bank-details></div>
  <div class="col"><withdrawals-and-deposits  [friendId]="friend.id_user">משיכות והפקדות</withdrawals-and-deposits></div>
  <button class=" btn btn-dark" type="button" data-toggle="collapse" data-target="#loans" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    הלוואות
    </button>
</div>
<div class="row">
    <a (click)="Edite($event)" id="BAdd" class="col">
        <app-message-add [Message]="message | json" ></app-message-add></a>
</div>



