<div class="Form-wrapper Detalis-wrapper" *ngIf="friend">
<h3>פרטי חבר</h3>  
<form [formGroup]="formFriend" class="mx-auto w-75 mt-auto divForm needs-validation" novalidate=""> 
  <div class="row">
      <div class="col">
          <label for="fname">שם פרטי</label>
          <input type="text" class="form-control" formControlName="First_name"  id="fname" required  (keypress)="LetterinValid=LetterOnly($event)">
          <div class="invalid-feedback"> הכנס שם </div>
      </div>
      <div class="col">
        <label for="lname">שם משפחה</label>
        <input type="text" class="form-control" formControlName="Last_name" id="lname" (keypress)="LetterinValid=LetterOnly($event)" required>
    </div>
      <div class="col">
          <label for="fname">שם האב</label>
          <input type="text" class="form-control" formControlName="father_name"  id="father_name" (keypress)="LetterinValid=LetterOnly($event)" required>
      </div>
    
      <div class="col">
          <input class="form-check-input" type="checkbox" formControlName="VIP"  id="vipCheck" >
          <label class="form-check-label" for="vipCheck">
              VIP
          </label>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <label for="id">:ת"ז</label>
          <input formControlName="Id_user"  id="id" min=9 max=9 class="form-control" type="text" (keypress)="NumberinValid=NumberOnly($event)" required>
      </div>
      <div class="col">
          <label>סטטוס חבר</label>
          <select class="selectpicker form-control" data-live-search="true">
              <option>בחר סטטוסס</option>
              <!-- <option *ngFor="let status of keyStatusFriend()" [ngValue]="status">{{status}}</option> -->
          </select>
      </div>
  </div>
  <div class="dropdown-divider"></div>
<form [formGroup]="FCommunication_ways" class="needs-validation" novalidate="">
  <div class="row">
      <div class="col">
          <label>טל 1</label>
          <input class="form-control" id="p1" formControlName="Phon1" (keypress)="NumberinValid=NumberOnly($event)" required>
      </div>
      <div class="col">
          <label>טל 2</label>
          <input class="form-control" id="p2" formControlName="Phon2" (keypress)="NumberinValid=NumberOnly($event)">
      </div>
      <div class="col">
          <label for="emailInput">כתובת מייל</label>
          <input type="email" formControlName="Email_addres" class="form-control" id="email">
      </div>
  </div>
  <div class="row">
      <div class="col">
          <label for="citylb">עיר</label>
          <input type="text"  class="form-control" id="citylb" (keypress)="LetterinValid=LetterOnly($event)" required>
      </div>
      <div class="col">
          <label for="street">רחוב</label>
          <input class="form-control" formControlName="Street" id="street"  (keypress)="LetterinValid=LetterOnly($event)" required>
      </div>
      <div class="col">
          <label for="buildingNumber">מספר</label>
          <input class="form-control" formControlName="Num_street" type="number" (keypress)="NumberinValid=NumberOnly($event)"required>
      </div>
  </div>
</form>
  <div class="dropdown-divider"></div>
      <div class="col">
          <label for="Remarkscontrol">הערות</label>
          <textarea class="form-control" id="Remarkscontrol" rows="1" formControlName="Remarks"></textarea>
      </div>
  <div class="row">
    <div class="col">
        <CreditDetails [cardit]="friend"></CreditDetails></div>
        <div class="col"><button type="button" class="btn btn-dark">פרטי חשבון בנק</button></div> 
  <div class="col"><addwithdrawal  [FreindId]="friend.Id"></addwithdrawal></div>
  <div class="col"><Friendwswithdrawals-and-deposits [friendId]="friend.Id">משיכות והפקדות</Friendwswithdrawals-and-deposits></div>
  <div class="col"><button type="button" class="btn btn-dark"> רשימת הלוואות </button></div>
</div>
<div class="row">
<button (click)="Add()" button type="submit" class="btn btn-dark fixed-bottom position-relative">שמור שינויים</button></div>
</form>
</div>