<div class="blog" >
    <b>
      <br/>
      <h2>ברוכים הבאים ל-</h2>
      <h1>Super Gmach</h1>
      <h5>
        האתר הנוח לניהול גמ"ח כספים בצורה בטוחה ואיכות.<br />
        המטרה שלנו היא לגרום להקמת גמחים רבים ונוספים לתועלת הציבור הרחב.<br />
        עד היום כל מי שרצה להקים גמח היה נזקק לפתוח קבצי EXCEL <br />
        רבים וכן להקדיש לכך את מרב כוחו ושעות היום כיוון שהכל לא היה <br />
        מסונכרן , נוצרו הרבה כפילויות, אי סדר והרבה טעויות שגוו מחיר לא קטן<br />
        ומכיוון שפעילות זו חשוב שתיהיה קיימת החלטנו לבנות אתר נח ופרקטי המכיל
        בתוכו.
        <br />
        אין סוף אפשרויות ומיועדות ליצור חויית משתמש ברמה גבוה ביותר.<br />
        ,תכנסו ותראו שיש אפשרויות רבות כגון: פתיחת קרנות לפי נתוני הלקוח <br />
        יצוא המידע לקבצי EXCEL , דיאגרמות שמראות את מצב הגמח, מעקב אחר הלוואות
        וכדומה.<br />
        מקוים שנהנתם :) <br />
        לפרטים נוספים שלחו לנו מייל לכתובת<br />
      </h5>
      <h4>supergmach@gmail.com</h4>
      <h5>
          ונשמח לחזור אליכם במהירות האפשרית שנוכל
      </h5>
    </b>
  </div>