<!-- <p>friend-of-fund works!</p>-->
<div>{{fund.Fund_name}}</div> 
<div>{{fund.Id}}</div>
<div class="d-flex flex-row-reverse"> 
<table class="table table-striped bg-secondary text-white" >
 <thead>
    <tr>
      <th scope="col" >#</th>
      <th scope="col">name</th>
      <th scope="col">status</th>
      <th scope="col">num month</th>
      <th scope="col">מספר הפקדות</th>
      <th scope="col">מספר משיכות</th>
      <th scope="col">יתרה</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let friend of friends">
      <th scope="row">{{friend.Id}}</th>
      <td>{{friend.First_name}}</td>
      <td>{{friend.status.Description}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{friend.balance}}</td>
    </tr>
  </tbody> 
 </table>
</div>