<table class="table table-striped table-dark">
    <thead>
      <tr >
        <th scope="col"> מעבר לקרן</th>
        <th scope="col">מספר חברים</th>
        <th scope="col">יתרה</th>
        <th scope="col">שם</th>
        <th scope="col" >#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fund of fund_list;  let i = index" >
        <td ><a class="link-dark" routerLink="/FundDetails/{{fund.name}}">לחץ כאן</a></td>
        <td ></td>
        <td></td>
        <td>{{fund.name}}</td>
        <th scope="row">{{i+1}}</th>  
      </tr>
    </tbody>
</table>