<ul *ngIf="!isAuthenticated">
  <li> Please  <a [routerLink]='["/authentication/login"]'> login</a>  to your account in order to get access to your Gmach</li>
  <li>If you don't have an account,  <a [routerLink]='["/authentication/register"]'>register</a>  a new one and contact <a href="super.gmach@gmail.com">super.gmach</a> to get access</li>

</ul>

<ul *ngIf="isAuthenticated">
  <h3>Welcome to Gmach {{gmachName| async}} </h3>
  <h5>start collaborate by choosing actions from the menu</h5>

</ul>


