<!--<a routerLink="/FundDetails/${params.data.id}" a class="link-dark"> params.data.name</a>-->
<ag-grid-angular (gridReady)="onGridReady($event)" [columnDefs]="columnDefs"
                 [defaultColDef]="defaultColDef"
                 [rowData]="rowData"
                 class="divLIst"
                 class="ag-theme-alpine"
                 class="ag-theme-alpine"
                 id="myGrid"
                 style=" justify-content: center"
                 style="height: 500px;">
</ag-grid-angular>
