<!-- <div class="werpper details">
    <div class="header">
        <b>{{expenditure.id}}:פרטי הכנסה</b>
    </div>
    <form [formGroup]="Formedetails" id="from" class="needs-validation"
        novalidate="">
        <div class="row">
            <div class="col">
                <label>:תאריך </label>
                <input class="form-control" formControlName="dateIncome"
                    required="">
            </div>
            <div class="col">
                <label>מטרה </label>
                <input class="form-control" formControlName="purpose"
                    required="">
            </div>
            <div class="col">
                <label> ממי</label>
                <input class="form-control" formControlName="FromWho"
                    required="">
            </div>
            <div class="col">
                <label>אופן התשלום </label>
                <input class="form-control" formControlName="PaymentMethods"
                    required="">
            </div>
             <div class="col">
                <label>סכום </label>
                <input class="form-control" formControlName="amount"
                    required="">
            </div>
        </div>
    </form>
</div> -->