 <div class="w-75 float-right mr-3 divLIst">
<nav class="navbar navbar-dark bg-dark ">
    <form class="form-inline px-2">
      <input class="form-control mr-sm-1 mx-1" type="search" placeholder="חיפוש" aria-label="Search"  [(ngModel)]='name' [ngModelOptions]="{standalone: true}">
      <div class="form-group  position-relative pr-2" >
        <!-- <select id="inputStatus" class="form-control " required name="stat" [(ngModel)]='status' >
          <option selected>All</option>
          <option *ngFor="let status of keyStatusFund()" [value]="status">{{status}}</option>
        </select> -->
      </div>
    </form>
  </nav>
<table class="table table-striped table-dark ">
    <thead>
      <tr >
        <th scope="col" >#</th>
        <th scope="col">שם</th>
        <th scope="col">סטטוס</th>
        <th scope="col">מספר חברים</th>
        <th scope="col">יתרה</th>
        <th scope="col">פרטים נוספים</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fund of fund_list |filter:name|filterStatus:status let i = index" >
        <th scope="row">{{i+1}}</th>
        <td><a class="link-dark" routerLink="/FundDetails/{{fund.id}}">{{fund.fund_name}}</a></td> 
        <td >{{fund.status}}</td>
        <td>{{fund.nun_friends}} </td>
        <td>{{fund.balance}}</td>
        <td>{{fund.details}}גמ"ח ראשי</td>     
 <td></td>
         
      </tr>
    </tbody>
</table>
</div> 