<div class="alert alert-success alert-dismissible fade show"  [hidden]="!SuccessMessage">
    <strong>Success!</strong> the friend has been added successfully.
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<div class=" w-75 m-5 divForm" >
    <form [formGroup]="formFriend" class="mx-auto w-75 mt-auto divForm">
        <div class="row">
            <div class="col">
                <label for="fname">first name</label>
                <input type="text" class="form-control" formControlName="Fname" placeholder="First name">
                <label for="fname">father name</label>
                <input type="text" class="form-control" formControlName="father_name" placeholder="father name">
            </div>
            <div class="col">
                <label for="lname">last name</label>
                <input type="text" class="form-control" formControlName="Lname" placeholder="Last name">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="true" id="vipCheck">
                <label class="form-check-label" for="vipCheck">
                    VIP
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="id">Enter your ID</label>
                <input formControlName="tz" placeholder="id" class="form-control" type="text">
            </div>
            <div class="col">
                <label>status friend</label>
                <select class="selectpicker form-control" data-live-search="true">
                    <option>choose option</option>
                    <option *ngFor="let status of keyStatusFriend()" [ngValue]="status">{{status}}</option>
                </select>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="row">
            <div class="col">
                <label>phone 1</label>
                <input class="form-control" placeholder="phone 1" formControlName="phon1">
            </div>
            <div class="col">
                <label>phone 2</label>
                <input class="form-control" placeholder="phone 2" formControlName="phon2">
            </div>
            <div class="col">
                <label for="emailInput">Email address</label>
                <input type="email" formControlName="email" class="form-control" id="emailInput"
                    placeholder="name@example.com">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="citylb">city</label>
                <input type="text" formControlName="city" class="form-control" id="citylb" placeholder="city">
            </div>
            <div class="col">
                <label for="street">street</label>
                <input class="form-control" formControlName="street" placeholder="street">
            </div>
            <div class="col">
                <label for="buildingNumber">building number</label>
                <input class="form-control" formControlName="buildingNumber" type="number">
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="col">
                <input class="form-check-input" type="checkbox" value="true" formControlName="Direct_debit" id="DirectDebitCheck" (change)="Show('bank_detalis')">
                <label class="form-check-label" for="DirectDebitCheck">
                    Direct Debit
                </label>
            </div>
     <div [hidden]="!bank_detalis">
        <div class="row">
            <div class="col">
                <label for="bankName">Bank name</label>
                <input class="form-control" id="bankName" type="text" formControlName="Bank">
            </div>
            <div class="col">
                <label for="Branch">Branch</label>
                <input class="form-control" id="Branch" formControlName="Branch">
            </div>
            <div class="col">
                <label for="AccounNumber">Accoun number</label>
                <input class="form-control" id="AccounNumber" formControlName="Accoun_number">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="cilingControl">ciling</label>
                <input class="form-control" id="cilingControl" formControlName="ciling">
            </div>
            <div class="col">
                <label for="collection_date">Collection date</label>
                <input class="form-control" formControlName="collection_date" id="collection_date" type="date">
            </div>
        </div>
     </div>
        <div class="dropdown-divider"></div>
        <div class="col">
            <input class="form-check-input" type="checkbox" value="true" id="creditControl" formControlName="credit"(change)="Show('card_Detalis')" >
            <label for="creditControl">credit</label>
        </div>
        <div  [hidden]="!card_Detalis" >
        <div class="row">
            <div class="col">
                <label for="cardNumber">Card number</label>
                <input class="form-control" id="cardNumber" formControlName="card_number">
            </div>
            <div class="col">
                <label for="CVV">CVV</label>
                <input class="form-control" id="CVVcontrol" formControlName="CVV">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="validityControl">validity</label>
                <input class="form-control" formControlName="validity" id="validityConrol" type="date">
            </div>
            <div class="col">
                <label for="collection_dateCard">Collection date</label>
                <input class="form-control" formControlName="collection_dateCard" id="collection_date" type="date">
            </div>
            
        </div>
    </div>
        <div class="row">
            <div class="col">
                <label for="Remarkscontrol">Remarks</label>
                <textarea class="form-control" id="Remarkscontrol" rows="1" formControlName="Remarks"></textarea>
            </div>
        </div>
        <button (click)="Add()" button type="submit" class="btn btn-dark fixed-bottom position-relative">הוסף</button>
    </form>
</div>
