/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine((
        
    ));
  
}
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
.divLIst,tr,input{
    direction: rtl;
}
.divForm{
    direction: ltr;
}

.ag-header-group-cell-label, .ag-header-cell-label{
    flex: inherit;
}
.ag-theme-alpine .ag-ltr .ag-cell{
    text-align: end;
}
